@using Ecommerce.Common

<div>
    <div class="row" style="background-color: #2B2D42; height: 40px">
        <div class="container">
            <div class="row">
                <div class="offset-1 col-1 badge" style="margin-top: 10px"><i class="fa fa-phone" style="color: red"></i> &nbsp; @GlobalConstants.Telephone</div>
                <div class="col-1 badge" style="margin-top: 10px"><i class="fa fa-envelope" style="color: red"></i> &nbsp; @GlobalConstants.Email</div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg" style="background-color: #334; height: 80px">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-brand d-flex align-items-center" src="./images/ecommerce-icon.png" width=50 height=50 /></a>

            <div class="input-group rounded">
                <input type="search" class="form-control rounded-pill" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div>

            <div class="col-md-3 clearfix">
                <div class="header-ctn">
                    <div>
                        <a href="#" style="margin-top: 10px" class="nav-link">
                            <i style="color: red" class="fa fa-heart"></i>
                            <span>Wishlist</span>
                            <div class="qty">2</div>
                        </a>
                    </div>
                    <div>
                        <a href="#" style="margin-top: 10px" class="nav-link">
                            <i style="color: red" class="fa fa-shopping-cart"></i>
                            <span>Your Cart</span>
                            <div class="qty">3</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid offset-4 col-4">
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Categories</strong>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a asp-area="" asp-controller="Products" asp-action="All" class="dropdown-item">All</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-area="" asp-controller="Products" asp-action="All" asp-route-SearchCategory="Smartphones" class="dropdown-item">Smartphones</a></li>
                                <li><a asp-area="" asp-controller="Products" asp-action="All" asp-route-SearchCategory="ElectricAppliances" class="dropdown-item">ElectricAppliances</a></li>
                                <li><a asp-area="" asp-controller="Products" asp-action="All" asp-route-SearchCategory="Gaming" class="dropdown-item">Gaming</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#"><strong>Hot Deals</strong></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><strong>About Us</strong></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><strong>About Us</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="offset-2 col-8" />
    </div>
</div>