@model string

<div class="jumbotron">
    <h1 class="text-center display-4">Currently there are no results for "@Model" category!</h1>
    <p class="text-center lead">You can try later <i style="color: black" class="fa fa-smile"></i>.</p>
    <hr class="my-4">
</div>