@model IEnumerable<ImageViewModel>

<div class="col-md-5 col-md-push-2">
    <div id="product-main-img">
        <div class="glider">
            @foreach (var image in Model)
            {
                <div class="product-preview">
                    <img src="@image.Src" alt="">
                </div>
            }
        </div>
    </div>
</div>

<div class="col-md-2  col-md-pull-5">
    <div id="product-imgs">
        @foreach (var image in Model.Take(4))
        {
            <div class="product-preview">
                <img src="@image.Src" alt="">
            </div>
        }
    </div>
</div>