@model ProductFormModel

@{
    ViewData["Title"] = "Create Product | Commerce Park";
}

<div class="container">
    <partial name="_CreateProductFormPartial" model="Model" />
</div>

@section Scripts {
    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}
