@{
    ViewData["Title"] = "About Us | Commerce Pak";
}

<div class="inner" align="center" style="background-color: #fff">
	<img src="https://careers.emag.bg/images/ic-aa.png" style="max-width: 100%; height: auto; margin-top: 3em">
	<h3>Who are we?</h3>
</div>