@model HomeServiceModel

@{
    ViewData["Title"] = "Home | Commerce Park";
    ViewData["ImageHeight"] = 330;
}

<h1 class="text-center mt-4">Top Products</h1>
<hr class="offset-2 col-8" style="margin-top: 30px" />

<div class="container mt-5">
    @foreach (var category in Model.Categories)
    {
        if (!(category.Products.Count() == 6))
        {
            continue;
        }

        <h2>● @category.Name</h2>
        <div class="glider" style="height: 620px">
            @foreach (var product in category.Products)
            {
                <div class="@(category.Products.FirstOrDefault() == product ? "" : "offset-1") col-3">
                    <partial name="_ProductCardPartial" model="product" />
                </div>
            }
        </div>
        <br />
        <br />
        <br />
        <br />
    }
</div>

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <script>
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 4,
            slidesToScroll: 1,
            draggable: true,
            dots: '.dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            }
        });
    </script>
}