@{
    ViewData["Title"] = "Dashboard | Commerce Park";
}

<div class="jumbotron mt-5 mb-5">
    <h1 class="display-4 text-center">Products Dashboard</h1>
    <div class="row mt-4">
        <a class="offset-1 col-4 btn btn-primary">
            Go to products dashboard
        </a>
        <a class="offset-2 col-4 btn btn-primary">
            Go to users dashboard
        </a>
    </div>
    <hr class="my-4">
</div>