@{
    ViewData["Title"] = "Users Dashboard | Commerce Park";
}

<div class="jumbotron mt-5 mb-5">
    <h1 class="display-4 text-center">Users Dashboard</h1>
    <div class="row mt-4">
        <span class="offset-2 col-3 badge badge-primary">Total Products: @Model.UsersCount</span>
        <span class="offset-2 col-3 badge badge-primary">Total Categories: @Model.AdminsCount</span>
    </div>
    <hr class="my-4">
</div>