@model ShoppingCardServiceModel

@{
    ViewData["Title"] = "Your Shopping Card";
    ViewData["ImageHeight"] = 400;
    ViewBag.UserIsInShoppingCard = true;
}

<div class="container-fluid">
    <div class="row">
        <div class="offset-2 col-8" style="margin-right: 35px">
            @if (Model.Products.Any())
            {
                <div class="row mt-4">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-4 mt-4">
                            <partial name="_ProductCardPartial" model="product" />
                        </div>
                    }
                </div>

                <partial name="_PaginationPartial" model="Model" />
            }
            else
            {

            }
        </div>
    </div>
</div>

<div class="row mt-3">
    <a role="button" class="offset-5 col-2 btn" style="background-color: #D10024; color: white">
        <i class="fa fa-forward" aria-hidden="true"></i>
        Continue
    </a>
</div>